.présentation {
    position: fixed;
    top: 200px;
    left: 30%;
    width: 50%;
    font-size: 30px;
    text-align: center;
    background-color: transparent;
    color: white;
}

#carroussel {
    padding: 50px 0px 0px 230px
}

#carrousselPetit {
    display: none;
}

@media screen and (max-width: 865px) {
    .présentation {
        position: fixed;
        top: 100px;
        left: 0px;
        padding-left: 0%;
        width: 100%;
        font-size: 20px;
        text-align: center;
        background-color: transparent;
        color: rgb(0, 0, 0);
    }
    #carroussel {
        display: none;
    }
    #carrousselPetit {
        display: block;
        padding-top: 220px;
    }
    #ytvideo {
        display: none;
    }
}