.titre1 {
    color: rgb(17, 115, 206);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4em;
    text-align: center;
}

@media screen and (max-width: 865px) {
    .titre1 {
        color: rgb(17, 115, 206);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2em;
    }
}

.image1{
    display:block;
    width:60%;
    margin-left:auto;
    margin-right:auto;
    //padding: 50px 50px 50px 50px;
}
.image2{
    //display:block;
    width:50%;
    margin-left:auto;
    margin-right:auto;
    //padding: 0px 10px 0px 10px;
}

.comment1{
    //border-width: 5px;
    border: 3px rgb(24, 98, 235) solid;
    box-shadow: 0px 5px 26px 0px rgba(0,0,0,1);
    margin: 30px 0px 30px 0px;
}
