* {
  margin: auto;
}

.top-nav {
  z-index: 1;
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.99);
  position: fixed;
  left: 230px;
  right: 0;
  display: -webkit-box;
  display: flex;
  box-shadow: 3px 3px 35px -14px rgba(0, 0, 0, 0.75);
}

.top-nav a {
  display: block;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;
}

.top-nav a:hover {
  color: #ffc252;
  -webkit-transition: color 0.3s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in;
  transition: color 0.3s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in;
}

.top-nav .icon {
  display: none;
}

/* Media Queries Nav Bar */

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

@media screen and (max-width: 865px) {
  .top-nav {
    box-shadow: 0px 0px 0px -14px rgba(0, 0, 0, 0.75);
  }

  .top-nav a {
    display: none;
  }

  .top-nav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

@media screen and (max-width: 865px) {
  .top-nav.responsive {
    top: 0px;
    padding-top: 72px;
    left: 0px;
    display: block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .top-nav.responsive a.icon {
    position: absolute;
    right: 15px;
    top: 0;
  }

  .top-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

#aside-nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.99);
  position: fixed;
  width: 230px;
  height: 100%;
  text-align: center;
  box-shadow: 3px 3px 38px -14px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 865px) {
  #aside-nav .logoCESI {
    display: none;
  }

  #aside-nav .logoBDE {
    display: block;
    width: 78px;
  }

  #aside-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    width: 90%;
    height: 72px;
    box-shadow: 3px 3px 28px -14px rgba(0, 0, 0, 0.75);
  }

  .Social {
    display: none;
  }

  .Connect {
    margin-top: 25px;
    margin-left: 10px;
  }

  #aside-nav .Connect a {
    font-size: 13px;
  }
}

.logoCESI {
  max-width: 90%;
  height: auto;
  margin: 0px 11.5px 0px 11.5px;
}

.logoBDE {
  max-width: 100%;
  height: auto;
  margin: 0px 0px 0px 0px;
}

.Connect a {
  border: 2px #ffc252 solid;
  border-radius: 5px;
  font-size: 22px;
  text-decoration: none;
  color: white;
  padding: 3px;
}

.Connect a:hover {
  background-color: #ffc252;
  color: black;
  -webkit-transition: color 0.6s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in;
  transition: color 0.6s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in;
}

.Social {
  color: white;
  text-align: center;
  margin: 0px 45px 15px 45px;
}

.socialList {
  display: -webkit-box;
  display: flex;
  list-style-type: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  margin-top: 10px;
}

#findUs {
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#findUs:hover {
  opacity: 0.8;
}

svg.icon1,
svg.icon2,
svg.icon3,
svg.icon4,
svg.icon5 {
  border-radius: 3px;
  margin: 3px;
}

svg.icon1:hover {
  background-color: #659bff;
  -webkit-transition: color 0.4s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in;
  transition: color 0.4s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in;
}

svg.icon2:hover {
  background-color: orange;
  -webkit-transition: color 0.4s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in;
  transition: color 0.4s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in;
}

svg.icon3:hover {
  background-color: red;
  -webkit-transition: color 0.4s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in;
  transition: color 0.4s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in;
}

svg.icon4:hover {
  background-color: green;
  -webkit-transition: color 0.4s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in;
  transition: color 0.4s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in;
}

svg.icon5:hover {
  background: -webkit-gradient(linear, left top, right top, from(purple), to(orange));
  background: linear-gradient(to right, purple, orange);
  -webkit-transition: color 0.4s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in;
  transition: color 0.4s ease-in, border-color 0.3s ease-in, background-color 0.3s ease-in;
}

footer {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.99);
  width: 100%;
  padding: 10px 0px 10px 0px;
  box-shadow: 0px 0px 28px -14px rgba(0, 0, 0, 0.75);
}

footer a {
  color: white;
  font-size: 13px;
}

/* Style inputs with type="text", select elements and textareas */

input[type=text],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical;
}

/* Style the submit button with a specific background color etc */

input[type=Envoyer] {
  background-color: #ffc252;
  text-align: center;
  color: white;
  font-size: 17px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */

input[type=Envoyer]:hover {
  background-color: #ff841f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Add a background color and some padding around the form */

form {
  padding: 150px 40px 0px 280px;
  border-radius: 5px;
  margin-bottom: 219px;
}

body {
  background-color: #f2f2f2;
}

@media screen and (max-width: 865px) {
  form {
    padding: 80px 0px 0px 20px;
  }
}

.cadre {
  padding-top: 5em;
  padding-left: 18em;
  padding: 5em 2em 3em 18em;
}

@media screen and (max-width: 865px) {
  .cadre {
    padding: 80px 13px 10px 20px;
  }
}

